{% extends 'main/header.html' %}

{% block content %}


<h4>{{rest_name}}</h4>
    <div class="row">
      <table id = "myTable" >
        <thead>
          <tr>
              <th>Name</th>
              <th></th>
              <th>price</th>
              <th></th>
              <th>Quantity</th>
          </tr>
        {% for mydata in data %}
        {% if mydata.quantity > 0 %}
          <tr>
          	<td> {{mydata.name}} </td> 
          	<td> </td> 
          	
          	<td> {{mydata.price}} </td> 
          	<td> </td> 
          	
          	<td> {{mydata.quantity}} </td> 
          	<td> </td> 
          	
          </tr>
        {% endif %}
        {% endfor %}
        <tr>
          <td>Total Amount :  {{total}} </td>
        </tr>

        </tbody>
      </table>

    </div>

{% endblock %}
