{% extends 'main/header.html' %}

{% block content %}
<style>
#btn button {
  background-color: #4CAF50;
  border: 1px solid green;
  color: white;
  padding: 15px 40px;
  cursor: pointer;
}
#btn button:hover {background-color: #3e8e41}
</style>
<body style="background-color:#F6F6F6 ;">

    <div class="container">
        <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <div id="btn" >
            <button  class="butn" type="submit">Login</button>
        </div>
        </form>
       	<p>
        	Don't have an account? <a href="signup" target="blank"><strong>register here</strong></a>!
        </p>
        Staff Members, <a href="/admin/" target="blank"><strong>click here</strong></a> to Login.
    </div>
</body>
{% endblock %}